<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Ionic SideMenu + Tabs</title>

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <html ng-app="demo">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Ionic SideMenu + Tabs</title>

    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
</head>
<body>

<!-- ALL VIEW STATES LOADED IN HERE -->
<ion-nav-view></ion-nav-view>

<script id="root.html" type="text/ng-template">
    <ion-view title="Ionic SideMenu + Tabs">

      <ion-nav-bar class="bar-energized"></ion-nav-bar>
      <ion-content has-header="true" padding="true">

        <p>This is just a proof of concepts demo.<br/>
           I wrote (still writing) a full article about that <a href="http://codepen.io/mircobabini/developer/ionic-sidemenu-tabs">here</a>.<br/>
           <br/>
          <b>Tips:</b>
          <ul>
            <li>Use the <a href="http://codepen.io/mircobabini/pen/gLkli/left">LEFT Codepen View</a></li>
            <li>Feel free to contrib, share, comment and fork</li>
        </p>
        <a class="button button-halfwidth" nav-clear ui-sref="fst.home">First Section</a>
        <a class="button button-halfwidth pull-right" nav-clear ui-sref="snd.home">Second Section</a>

      </ion-content>

    </ion-view>
</script>

<script id="fst-abstract.html" type="text/ng-template">
<ion-nav-bar class="bar-energized nav-title-slide-ios7">
         

        </ion-nav-bar>
       

      
      <ion-nav-view  name="fst"></ion-nav-view>
      <ion-nav-view  name="fst1"></ion-nav-view>
</script>
<script id="fst-home.html" type="text/ng-template">
    <ion-view title="First Section">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content has-header="true" padding="true">

        <h3>First Section's home</h3>
        <a class="button button-halfwidth" nav-clear ui-sref="root">Back to the Root</a>
        <a class="button button-halfwidth pull-right" nav-clear ui-sref="snd.home">Second Section</a>

      </ion-content>

    </ion-view>
</script>
<script id="fst-first.html" type="text/ng-template">
    <ion-view title="Fst - Single First">

      <ion-content has-header="true" padding="true">
        I't just a single page with the back button in the nav bar. Back to the Fst Section, of course.
      </ion-content>

    </ion-view>
</script>
<script id="fst-second.html" type="text/ng-template">
    <ion-view title="Fst - Single Second">

      <ion-content has-header="true" padding="true">
        I't just a single page with the back button in the nav bar. Back to the Fst Section, of course.
      </ion-content>

    </ion-view>
</script>

<script id="snd-abstract.html" type="text/ng-template">
<ion-view>
     
	 
	 
	 <ion-side-menus>
      <ion-side-menu-content ng-controller="NavController">

        <ion-nav-bar class="bar-energized nav-title-slide-ios7">
         
        </ion-nav-bar>
       <ion-nav-view name="homepage" animation="slide-left-right"> </ion-nav-view> 

      </ion-side-menu-content>
      <ion-side-menu side="left" ng-controller="NavController">

        <ion-header-bar class="bar bar-header bar-assertive">
          <div class="item item-avatar"><img src="img/avatar.png " class="avatar"></div>
		  <div class="item item-avatar"><img src="img/avatar.png" class="avatar"></div>
        </ion-header-bar>
        <ion-content has-header="true">
          <ul class="list">
            <a ui-sref="fst.first" class="item" ng-click="toggleLeft()"><span class="icon ion-gear-b"></span>&nbsp &nbsp    设置</a>
            <a ui-sref="fst.second" class="item" ng-click="toggleLeft()"><span class="icon ion-ios-medkit-outline"></span>&nbsp &nbsp   收藏</a>
			<a ui-sref="create" class="item" ng-click="toggleLeft()"><span class="icon ion-plus"></span>&nbsp &nbsp   创建圈子</a>
			<a ui-sref="person_information" class="item" ng-click="toggleLeft()"><span class="ion-information"></span> &nbsp &nbsp 个人信息</a>
          </ul>
		 
        </ion-content>
 <div class="bar bar-subfooter"><button class="button-fullwidth icon ion-log-out">注销</button></div>
      </ion-side-menu> 
    </ion-side-menus> 
	
    
	<div class="tabs tabs-icon-only">
        <a nav-clear class="tab-item disable-user-behavior active" title="Home" nav-clear ui-sref="homepage.home">
          <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Chat" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="homepage.download">
          <i class="icon ion-chatbubbles"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
        <a nav-clear class="tab-item disable-user-behavior" title="Drink" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="homepage.friend">
          <i class="icon ion-wineglass"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
        </a>
      </div> 
  </ion-view>
</script>
<script id="snd-home.html" type="text/ng-template">
    <ion-view title="同人">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content has-header="true" >
<div class="list">
<div class="item item-avatar">
<img src="img/avatar1.png">
<p><span class="tag">问答</span><p>
</div>
<div class="item  quesion">
<a href="#">上中国大学马克思主义课程是怎样一种体验？</a>
</div>
<div class="item item-body answer">
<a href="#/create">看到问题我就暗笑。虽然在中国大陆的大学生都必须要学马哲，但认真学的人肯定是极少的，基本都只是为了赚个学分从而好混毕业证罢了。

上课的话，老师也只是照本宣科，偶尔讲几个事例或者引用下历史典故，再就联系下时事什么的。考试之前还会划重点，</a>
<p> <span class="icon ion-thumbsup">10</span></p>
</div>

</div>     
<div class="list">
<div class="item item-avatar">
<img src="img/avatar1.png">
<p><span class="tag">问答</span><p>
</div>
<div class="item  quesion">
<a href="#">上中国大学马克思主义课程是怎样一种体验？</a>
</div>
<div class="item item-body answer">
<a href="#/create">看到问题我就暗笑。虽然在中国大陆的大学生都必须要学马哲，但认真学的人肯定是极少的，基本都只是为了赚个学分从而好混毕业证罢了。

上课的话，老师也只是照本宣科，偶尔讲几个事例或者引用下历史典故，再就联系下时事什么的。考试之前还会划重点，</a>
<p> <span class="icon ion-thumbsup">10</span></p>
</div>

</div>  

<div class="list">
<div class="item item-avatar">
<img src="img/avatar1.png">
<p><span class="tag">问答</span><p>
</div>
<div class="item  quesion">
<a href="#">上中国大学马克思主义课程是怎样一种体验？</a>
</div>
<div class="item item-body answer">
<a href="#/create">看到问题我就暗笑。虽然在中国大陆的大学生都必须要学马哲，但认真学的人肯定是极少的，基本都只是为了赚个学分从而好混毕业证罢了。

上课的话，老师也只是照本宣科，偶尔讲几个事例或者引用下历史典故，再就联系下时事什么的。考试之前还会划重点，</a>
<p> <span class="icon ion-thumbsup">10</span></p>
</div>

</div>   
	  
	  
	 
	
		
		
		
	
			

	
        
      
	 
</script>
<script id="snd-chat.html" type="text/ng-template">
    <ion-view title="资源">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content has-header="true" >
<div class="list" style="margin-top:5px;" >
<a  href="/#/fst/group/123"class="item item-avatar" ng-repeat="item in group">
<img src="img/avatar.png" class="special-avatar">
<h2>北京交通大学</h2>
<p>欢迎参加</p>

</a>




</div>



      </ion-content>

      
    </ion-view>
</script>
<script id="snd-chat-single.html" type="text/ng-template">
    <ion-view title="Oliver Thredson">

      <ion-content has-header="true" padding="true">

        <div class="list card">

          <div class="item item-avatar">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Zachary_Quinto_2011.jpg/200px-Zachary_Quinto_2011.jpg">
            <h2>Oliver Thredson</h2>
            <p>I'm a psychiatrist at Briarcliff Institute</p>
          </div>

          <div class="item item-body">
            <p>
              Unlike most of the staff at Briarcliff, Dr Thredson was stoically calm and clinical around patients at the beginning of the series. He also had a less barbaric outlook towards treatment, saying that more compassion would greatly improve conditions for the patients. He was willing to look at the patients as more than just insane criminals in comparison to the sadistic treatment of Sister Jude. However, in his alter ego as "Bloody Face", he reverted to his darker side - an unhinged, sadistic murderer with deep-seated maternal abandonment issues.
            </p>
            <p>
              <a href="#" class="subdued">1 Like</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbubbles"></i>
              Chat
            </a>
          </div>

        </div>
      </ion-content>

    </ion-view>
</script>
<script id="snd-drink.html" type="text/ng-template">
    <ion-view title="Snd - Drink list">

      <ion-nav-buttons side="left">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-content has-header="true" >

<ul class="navigator"><li  ng-class={'navigator-item':true,'navigator-on':first} ng-click="getPeopelInf1()">我关注的人</li><li  ng-class={'navigator-item':true,'navigator-on':second} ng-click="getPeopelInf2()">关注我的人</li></ul>

<div class="list" >
<a ng-repeat="item in friends" href="/#/group/quesion" class="item item-avatar item-button-right" >
<img src="img/avatar.png">
<h2>{{item.name}}</h2>
<p>约炮。。。。。。。。。。</p>

</a>

<div>

       

      </ion-content>

     
    </ion-view>
</script>
<script id="snd-policy.html" type="text/ng-template">
    <ion-view title="Privacy Policy">

      <ion-content has-header="true" padding="true">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel tellus lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent erat purus, tempus quis nisi pharetra, fermentum vehicula quam.<br/>
        <br/>
        Praesent varius, turpis ac adipiscing consequat, tellus leo auctor lorem, in elementum nulla orci sit amet orci. Donec accumsan vitae eros et iaculis. Sed non auctor turpis. Mauris tellus turpis, tincidunt vel risus a, fermentum porta arcu. Integer elit dui, tristique sed nunc vel, pharetra venenatis lectus.<br/>
        <br/>
        Fusce felis tortor, porta sed est vel, pellentesque consequat magna. Vivamus ultrices, felis a dignissim venenatis, mauris mauris rhoncus lorem, eget euismod sapien sem aliquam lacus. Donec in lacus eu nunc laoreet semper.<br/>
        <br/>
        <button class="button button-fullwidth" nav-clear ui-sref="snd.home">Ok, back</button>

      </ion-content>

  </ion-view>
</script>

</body>
</html>
  <script src="js/service.js"></script>
  <script src="js/app.js"></script>
  <script src="js/directive.js"></script>
  

</body>

</html>