<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/login.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body >
     
<ion-content>
 
	    
		<div class="list list-borderless">
			<div class="item item-image">
				<img src="img/login.png">
			</div>
		</div>
		<div class="list list-inset">
			<label class="item item-input">
				<span class=" icon ion-ios-person"></span>
				<input type="text" placeholder="请输入你的用户名" ng-model="username">
			</label>
			<label class="item item-input">
				<span class=" icon ion-android-lock"></span>
				<input type="password" placeholder="请输入你的密码" ng-model="password">
			</label>
		</div>
		<label class="item">
		<button class="button button-block button-balanced" ng-click="login(username,password)">登录</button>
		<button class="button button-block button-balanced">注册</button>
		</label>
	
</ion-content>
  
    
  </body>
</html>
