<ion-view >
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="问答" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/app/home/tab1">
            <ion-view title="北京交通大学软件学院">
			
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <ion-item 
            class="item-thumbnail-left" href="#">

    <img ng-src="http://g.hiphotos.baidu.com/image/pic/item/5ab5c9ea15ce36d3a39f563639f33a87e950b119.jpg">
    <h3 class="text-right text-positive">那阵回忆</h3>
	<h2>请问北交大软件的分数线是多少</h2>
    <p></p>
	<div class="row ">
  <div class="col-33 col-offset-90">
  <i class="icon ion-heart">
  </i ><span text-right>2100</span >
  <br>
  <p >发布  2012.12.24</p>
  </div>
  
  </div>
    <ion-option-button class="button-positive"
                       ng-click="share(item)">
      分享
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      赞
    </ion-option-button>
   

  </ion-item>
  <ion-item>
  <p>这个2013年是328分 。2014年是345分。祝你好运</>
  <div class="row ">
  
  <div class="col-offset-90">
  <i class="icon ion-heart">
  </i ><span >2100</span >
  <br>
  <p >我是项彬彬</p>
  </div>
  
  </div>
  
  </ion-item>
  <hr>
  <ion-item 
            class="item-thumbnail-left" href="#">

    <img ng-src="http://g.hiphotos.baidu.com/image/pic/item/5ab5c9ea15ce36d3a39f563639f33a87e950b119.jpg">
    <h3 class="text-right text-positive">那阵回忆</h3>
	<h2>请问北交大软件的分数线是多少</h2>
    <p></p>
	
    <div class="row ">
  <div class="col-33 col-offset-90">
  <i class="icon ion-heart">
  </i ><span text-right>2100</span >
  <br>
  <p >发布  2012.12.24</p>
  </div>
  
  </div>
	<ion-option-button class="button-positive"
                       ng-click="share(item)">
      分享
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      赞
    </ion-option-button>
   

  </ion-item>
            </ion-list>
			
                    
    </ion-content>


			<ion-view>
        </ion-tab>
        <ion-tab title="资源" icon-off="ion-ios-upload-outline" icon-on="ion-ios-upload">
		 <ion-view title="北京交通大学软件学院">
            <ion-content padding="true" class="has-header">
		<form>	
			   <io-list>
 <ion-item 
             href="#">
   
	<h2>北交大软件学院面试题  </h2>
   
	<div class="row responsive-sm ">
	<div class="col-10" ><a href="http://www.163.com/images/logo.htm">下载</a> </div>
  <div class="col-offset-75">
  
	 
	
  
  <p > 那阵回忆 发布  2012.12.24</p>
 
  </div>
  
  </div>
    <ion-option-button class="button-positive"
                       ng-click="share(item)">
      分享
    </ion-option-button>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      赞
    </ion-option-button>
   

  </ion-item>
  

</io-list>
</form>
			</ion-content>
			<io-view>
        </ion-tab>
        <ion-tab title="Tab" icon-on="ion-android-arrow-back">
            <ion-content padding="true" class="has-header">
			
			</ion-content>
        </ion-tab>
    </ion-tabs>
